body {

  width: 100%;
  margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 130%;
	font-weight: 400;
	color: #333333;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

html, body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}

/* Плавная прокрутка */

html {
  scroll-behavior: smooth;
}

/* Отступ сверху при прокручивании */

:target {
  scroll-margin-top: 5em;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="ratio"].visually-hidden {
  /* display: none; */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
	color: #333333;
}

h2 {
  text-align: center;
  font-size: 24px;
	line-height: 31px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 16px;
	line-height: 18px;
  font-weight: 700;
}

/* Вставка изображений любых в бокс */
/* img { */
  /* max-width: 100%; */
  /* height: auto; */
/* } */

* {
  /* Убирает синий фон при нажатии */
  -webkit-tap-highlight-color: transparent;
}

.button {
  font: inherit;

  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  box-shadow: 0 3px 3px #2B0D15;
  cursor: pointer; /* убрать чтобы исчезла голубая подсветка */

  background-color: #A72146;
  border: none;
  border-radius: 6px;

  width: 100%;
  height: 66px;

  margin-top: 5px;
  margin-bottom: 10px;

  position: relative;
  top: 0;
}

.button:hover {
  background-color: #621A2E;
  transition: background-color 0.5s ease 0s;
}

.button:active {
  top: 3px;
  box-shadow: 0 2px 2px #2B0D15;
  transition:top 0.3s ease 0s;
}

.social__title {
  text-align: center;
}

form * {
  outline: none;
  cursor: pointer;
}

form input:focus,
form textarea:focus {
  box-shadow: 0 3px 10px grey;
}

.ask-questions__form input,
.ask-questions__form textarea,
.request__form input,
.appointment-data input,
.appointment-date input,
.appointment-time input {
  font: inherit;
  font-size: 16px;

  text-align: left;
  color: #828282;
  vertical-align: middle;

  background-color: #E7E7E7;
  border: none;
  border-radius: 6px;
}

.request__time,
.appointment-date input,
.appointment-data input,
.appointment-time input {
  text-align: left;
  -webkit-min-logical-width: calc(100% - 16px);
}

.adventages-list,
.mesenger__list,
.checkbox__list,
.radio__list,
.examples-list,
.services-list,
.questions-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.quiz__question {
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment-date {
  background-image: url(file:///D:/landing-Kristina/source//img/calendar.png);
  background-repeat: no-repeat;
  min-height: 400px;
  background-position: bottom;
}

.appointment-time {
  background-image: url(file:///D:/landing-Kristina/source//img/clock.png);
  background-repeat: no-repeat;
  min-height: 400px;
  background-position: bottom;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button{
  width: 140px;
  height: 40px;
}

.adventages-list {
  list-style: none;
  font-size: 12px;
}

.services__time {
  color: #A72146;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: center;
}

.services__price {
  color: #A72146;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
}

.quiz p{
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.questions-list {
  list-style: none;
}

.questions__item {
  background-color: #F7E9ED;
  border-radius: 6px;
  box-shadow: 0 2px 2px #2B0D15;
}

.contacts__list,
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__left {
  font-size: 10px;

  text-align: left;
}

.footer__right {
  font-size: 10px;
  text-decoration-line: underline;
  text-align: right;
}

.page-footer__contacts {
  background-color: #EAEAEA;
  border-radius: 6px;
}

.text-red {
  color: #A72146;
}

.text-center {
  text-align: center;
  font-size: 15px;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-through {
  text-decoration-line: line-through;
}

.text-big {
  font-size: 24px;
}

.text-underline {
  text-decoration-line: underline;
}

.text-low {
  font-size: 20px;
}


/* СЕТОЧНЫЕ СТИЛИ */

.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ПЕРВЫЙ ЭКРАН */

.first-screen {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;

  width: 320px;
}

@media (max-width: 767px) {
  .first-screen{
    padding-top: 70px;
  }
}

.first-screen__offer {
  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.first-screen__foto {
  display: flex;
  justify-content: center;
}

/* Преимущества */

.advantages {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.adventages__item {
  display: flex;
  align-items: center;
}

.advantages__foto {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 0;
}

.advantages__description {
  display: flex;
  margin-right: 10px;
  margin-left: 0;

  margin-bottom: 5px;
  margin-top: 5px;
}

.advantages__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;

}

/* КВИЗ */

.quiz {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.quiz-input {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  width: 100%;
  height: 57px;
}

.radio__list {
  padding: 10px 0px 0px 0px;
}

.radio__item {
  margin: 0px 0px 10px 0px;
}

.radio__input {
  display: none;
  cursor: pointer;
}

.radio__input:checked + .radio__label:after {
  transform: scale(1);
}

.radio__label {
  display: inline-flex;
  font-size:16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.radio__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #C06D84;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
}

.radio__label:after {
  transition: transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #621A2E;
  border-radius: 50%;
  transform: scale(0);
}

.quiz__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Чек-бокс */

.checkbox__list {
  padding: 10px 0px 0px 0px;
}

.checkbox__item {
  margin: 0px 0px 10px 0px;
}

.checkbox__input {
  display: none;
  cursor: pointer;
}

.checkbox__label a {
  color: #A72146;
  font-weight: 700;
}

.checkbox__input:checked + .checkbox__label:after {
  transform: scale(1);
}

.checkbox__label {
  display: inline-flex;
  font-size:16px;
  line-height: 140%;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.checkbox__label:before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #C06D84;
  border-radius: 6px;
  margin: 0px 10px 0px 0px;
}

.checkbox__label:after {
  transition: transform 0.3s ease 0s;
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: #621A2E;
  border-radius: 6px;
  transform: scale(0);
}

.checkbox__label--policy {
  font-size:12px;
}

/* УСЛУГИ */

.services {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__item img{
  border-radius: 6px;
}

.services__title {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  justify-content: center;
}

.services__time,
.services__price {
  margin: 10px auto;
  padding: 0;
}

.services__toggles,
.examples__toggles,
.reviews__toggles {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  padding: 0;
}

.services__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* ПОРТФОЛИО */

.examples {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.examples__mini{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.examples__title {
  text-align: center;
}

.examples__description {
  font-size: 16px;
}

.examples__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* ВОПРОСЫ И ОТВЕТЫ */

/* НАЧАЛО АНИМАЦИИ */

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-1.25em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.details-animated[open] {
    animation-name: fadeInDown;
    animation-duration: 0.7s;
}

.details-animated {
  transition: height 1s ease;
}
.details-animated:not([open]) { height: auto; }
.details-animated[open] { height: auto; }

/* КОНЕЦ АНИМАЦИИ */

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.questions__item {
  margin-bottom: 10px;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.questions__question {
  margin-left: 15px;
}

.questions__answer {
  margin-bottom: 0;
  margin-top:0;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 15px;
}

details > summary {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  width: 80%;

  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 15px;
  list-style: none;
}

summary:before {
  content: url(https://faramund21.github.io/Landing-Visazist.github.io/img/triangle.png);
  /* content: url(file:///D:/landing-Kristina/source/img/triangle.png); */
  margin: -5px 5px 0 0;
  position: absolute;
  top: 25px;
  right: 10px;
}

details[open] summary:before {
  content: url(https://faramund21.github.io/Landing-Visazist.github.io/img/triangle180.png);
  /* content: url(file:///D:/landing-Kristina/source/img/triangle180.png); */
}

details summary::-webkit-details-marker {
  display:none;
}

/* ЗАДАЙТЕ СВОЙ ВОПРОС */

.ask-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.ask-questions__question,
.ask-questions__name,
.ask-questions__phone {
  padding: 20px;
  box-sizing: border-box;

  width: 100%;
  height: 57px;
}

textarea.ask-questions__question {
  min-height: 145px;
  resize: vertical;
  padding: 20px;
  margin-bottom: 10px;
}

.mesenger__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.ask-questions__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* ВАТСАП РУКА */

.whatsapp-hand {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.whatsapp-hand__button {
  position: relative;
}

.whatsapp-icon {
  position: absolute;
  bottom: -15px;
  right: 15px;
}

.whatsapp-hand__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* ОТЗЫВЫ */

.reviews {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.review-slide {
  box-shadow: 0px 5px 5px #2B0D15;
  /* border: 1px solid #621A2E; */
}

.review-slide img {
  vertical-align: top;
}

.reviews__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* КОНСУЛЬТАЦИЯ */

.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.request__time,
.request__name,
.request__phone {
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  box-sizing: border-box;
  height: 57px;
}

.request__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* footer */

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding:20px;
}

.mesenger-social-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: flex;

  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contact__description {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

.page-footer__salon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underground {
  width: 100%;
  background: #838383;
}

.page-footer__common {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  color: #ffffff;
}

.map__foto {
  position: relative;
}

.position__icon {
  position: absolute;
  bottom: 160px;
  right: 140px;
}

.button__map {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__left,
.footer__right {
  margin: 0;
  padding: 0;
}

/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */

.selection {
  outline: 5px solid fade(red, 50%);
  outline-offset: -5px;
}
