body {

  width: 100%;
  margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 130%;
	font-weight: 400;
	color: #333333;

	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
}

.visually-hidden {
  display: none;
}

a {
	text-decoration: none;
	color: #333333;
}

h2 {
  text-align: center;
  font-size: 24px;
	line-height: 31px;
  font-weight: 700;
  margin: 0;
}

h3 {
  /* text-align: center; */
  font-size: 16px;
	line-height: 18px;
  font-weight: 700;
}

.button {
  font: inherit;

  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #A72146;
  border: none;
  border-radius: 6px;

  width: 100%;
  height: 66px;

  margin-top: 5px;
  margin-bottom: 10px;
}

.mesenger__title,
.social__title {
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #E84975;
}

.button:active {
  background-color: #621A2E;
}

.ask-questions__form input,
.request__form input,
.appointment-data input,
.appointment-date input,
.appointment-time input {
  font: inherit;
  font-size: 16px;

  text-align: left;
  color: #828282;
  vertical-align: middle;

  background-color: #E7E7E7;
  border: none;
  border-radius: 6px;
}

.main-nav {
  font-size: 14px;
  line-height: 20px;

  background-color: white;
}

.main-nav__wrapper {
  background-color: #5A433B;
}

.adventages-list,
.mesenger__list,
.site-list,
.checkbox-list,
.radio-list,
.slider__list,
.questions-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.main-nav__wrapper a{
  color: #F1E084;
}

.main-nav__wrapper a:hover,
.main-nav__wrapper a:focus{
  color: #E84975;
}

.adventages-list {
  list-style: none;

  font-size: 12px;
}

.services__time {
  color: #A72146;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: left;
}

.services__price {
  color: #A72146;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: right;
}

.questions-list {
  list-style: none;
}

.questions__item {
  background-color: #F7E9ED;
  border-radius: 6px;
}

.contacts__list,
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__left {
  font-size: 10px;

  text-align: left;
}

.footer__right {
  font-size: 10px;
  text-decoration-line: underline;
  text-align: right;
}

.page-footer__contacts {
  background-color: #EAEAEA;
  border-radius: 6px;
}

.text-red {
  color: #A72146;
}

.text-center {
  text-align: center;
  font-size: 15px;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-through {
  text-decoration-line: line-through;
}

.text-big {
  font-size: 24px;
}

.text-underline {
  text-decoration-line: underline;
}

.text-low {
  font-size: 20px;
}

/* СЕТОЧНЫЕ СТИЛИ */

/* Хэдэр */

.page-header {
  width: 100%;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.page-header__logo {
  margin: 0;
  padding: 0;
}

/* Навигация */

.main-nav__toggle {
  width: 31px;
  height: 17px;

  margin: 0;
  padding: 0;
}

.page-main {
  width: 100%;
}

/* Первый экран */

.first-screen {
  display: flex;
  flex-direction: column;

  margin-bottom: 0px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.first-screen__offer {
  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.first-screen__foto {
  display: flex;
  justify-content: center;
}

/* Преимущества */

.advantages {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.adventages__item {
  display: flex;
  align-items: center;
}

.advantages__foto {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 0;
}

.advantages__description {
  display: flex;
  margin-right: 10px;
  margin-left: 0;

  margin-bottom: 5px;
  margin-top: 5px;
}

.advantages__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Вопросы квиза */

.quiz {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
.quiz-input {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  width: 100%;
  height: 57px;
}

.checkbox-policy {
  margin:0;
}

.checkbox-policy__wrapper {
  font-size: 10px;

  display: flex;
  justify-content: space-between;
}

.quiz__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Мои услуги */

.services {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.services__wrapper {
  display: flex;
  flex-direction: column;
}

.services__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.services__title {
  margin: 0;
  padding: 0;
}

.services__time,
.services__price {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.services__toggles,
.examples__toggles,
.reviews__toggles {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  padding: 0;
}

.slider__toggle {
  margin-left: 10px;
  margin-right: 10px;
}

.sliderv {
  margin-bottom: 0;
}

.services__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Примеры работ */

.examples {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.examples__mini{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.examples__description {
  margin-bottom: 0;
}

.examples__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}
/* Вопросы и ответы */

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 25px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.questions__item {
  margin-bottom: 10px;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.questions__triangle {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 15px;
  margin-left: 15px;
}

.questions__question {
  margin-left: 15px;
}

.questions__answer {
  margin-bottom: 0;
  margin-top:0;
  margin-right: 15px;
  margin-left: 15px;
  padding-bottom: 15px;
}

/* Задайте свой вопрос */

.ask-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.ask-questions__name,
.ask-questions__phone {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  width: 100%;
  height: 57px;
}

.ask-questions__question {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  width: 100%;
  min-height: 145px;
}

.mesenger__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.ask-questions__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Ватсап рука */

.whatsapp-hand {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.whatsapp-hand__button {
  position: relative;
}

.whatsapp-icon {
  position: absolute;
  bottom: -15px;
  right: 15px;
}

.whatsapp-hand__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Отзывы */

.reviews {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.reviews__backimage {
  position: absolute;
  bottom: -120px;
  right: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* Консультация */

.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.request__time,
.request__name,
.request__phone {
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
  box-sizing: border-box;
  height: 57px;
}

.request__backimage {
  position: absolute;
  bottom: -120px;
  left: 140px;
  z-index: -1;
  opacity: 0.3;
}

/* footer */

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding:20px;
}

.mesenger-social-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: flex;

  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contact__description {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
}

.page-footer__salon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underground {
  width: 100%;
  background: #838383;
}

.page-footer__common {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  color: #ffffff;
}

.map__foto {
  position: relative;
}

.position__icon {
  position: absolute;
  bottom: 160px;
  right: 140px;
}

.footer__left,
.footer__right {
  margin: 0;
  padding: 0;
}

/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */


